.text-tiny {
  font-size: 0.5rem;
}

.min-h-4 {
  min-height: 0.5rem;
}

.input-root {
}

/*
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  background-color: var(--primary);
  margin: 0;
}
*/
